<!DOCTYPE html>
<html>
  <head>
    <title>{{ title if title != None else 'Title' }}</title>
    <link rel="stylesheet" href="presentation.css">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, height=device-height, initial-scale=1" name="viewport">
  </head>
  <body>

    <header>
      <h1>{{ title if title != None else 'Title' }}</h1>
      <p>
        Edit this to add an abstract.
      </p>

      {% include "share.jinja" %}
    </header>

    <div class="presentation">
      <table class="slides">
        {% for s in slides %}
          <tr>
            <td class="slide">
              <img src="{{ s['image'] }}" />
            </td>
            <td class="note">
              <a name="{{ loop.index }}"></a>
              {{ s['note'] | replace('\n', '<br />') }}
              <a href="#{{ loop.index }}">#</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <footer>
      {% include "share.jinja" %}

      <p>
        Generated with
        <a href="https://github.com/mcfunley/better-keynote-export">
          keynote-export</a>.
      </p>
    </footer>
  </body>
</html>
