<!DOCTYPE html>
<html>
  <head>
    <title>{{ title if title != None else 'Title' }}</title>
    <link rel="stylesheet" href="presentation.css">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, height=device-height, initial-scale=1" name="viewport">
  </head>
  <body>

    <header>
      <h1>{{ title if title != None else 'Title' }}</h1>
      <p>
        Edit this to add an abstract.
      </p>

      {% include "share.jinja" %}
    </header>

    <div class="presentation">
      <ol class="slides">
        {% for s in slides %}
          <li class="slide" id="{{ loop.index }}">
            <a class="slide-index" href="#{{ loop.index }}">{{ loop.index }}</a>
            <div class="slide-image">
              <img src="{{ s['src'] }}"
                   srcset="{{ s['srcset'] }}"
                   sizes="{{ sizes }}"
                   width="{{ s['width'] }}"
                   height="{{ s['height'] }}"
                   loading="{{ 'eager' if loop.first else 'lazy' }}"
                   decoding="async"
                   alt="Slide {{ loop.index }}" />
            </div>
            <div class="slide-note">
              {% for p in s['paragraphs'] %}<p>{{ p }}</p>{% endfor %}
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>

    <footer>
      {% include "share.jinja" %}

      <p>
        Generated with
        <a href="https://github.com/mcfunley/better-keynote-export">
          keynote-export</a>.
      </p>
    </footer>
  </body>
</html>
